@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    background-color: #f1f1f1;
    color: rgb(39, 31, 23);

font-size: 16px;
font-weight: normal;
font-family: 'Roboto', sans-serif;
}
.avatar {
    width: 250px;
    border-radius: 5
px;
    box-shadow: 4px 2px 14px rgba(15, 15, 15, 10);


}

.info p {

    color: rgb(104, 60, 6);
}

